<div class="d-flex justify-content-end mt-4 mb-2 mr-4">
  <%= render "searches/search", category_name: "店舗名", search_method: "store"%>
</div>

<div class="container d-flex justify-content-center my-4">
  <h2>店舗一覧</h2>
</div>

<div class="container d-flex justify-content-center mt-4 mb-2">
  <%= link_to '新しい順', stores_path(latest: "true"), class: "mr-1" %>
  |<%= link_to '古い順', stores_path(old: "true"), class: "mx-1" %>
  |<%= link_to 'お気に入りの多い順', stores_path(favorite_count: "true"), class: "ml-1"  %>
</div>

<% @stores.each do |store| %>
  <div class="card-list-container">
    <div class="card col-10 col-sm-6 mx-auto mt-4 shadow-lg">
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-2 d-flex justify-content-center col-sm-4">
            <% if store.store_image.attached? %>
              <%= image_tag store.store_image, size: "150x150" %>
            <% end %>
          </div>
          <div class="col-12 col-sm-8">
            <%= link_to(store_path(store.id), class: "text-dark") do %>
              <i class="fa-solid fa-flag mr-2 mb-3"></i><strong><span><%= store.store_name %></span></strong>
            <% end %>
            <p class="card-text"><i class="fa-solid fa-phone mr-2"></i><%= store.phone_number %></p>
            <p class="card-text"><i class="fa-solid fa-location-dot mr-2"></i><%= store.address %></p>
            <p class="card-text"><i class="fa-solid fa-at mr-2"></i><%= store.store_url %></p>
            <p class="card-text"><%= truncate(store.store_info, length: 60, omission: '...') %></p>
          </div>
        </div>
        <div class="row justify-content-end mt-2 mr-2">
          <%= render "favorites/btn", store: store %>
        </div>
      </div>
    </div>
  </div>
<% end %>

