
<main>
  <h1>店舗マイページ</h1>
  
  <h2>店舗情報</h2>
    <% if store_signed_in? %>
        <table>
          <tbody>
            <tr>
              <th>店舗名</th>
              <td><%= @store.store_name %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= @store.email %></td>
            </tr>
          </tbody>
        </table>
    <% end %>

  <%= link_to "編集", edit_store_path(@store.id) %>

  <h2>新規投稿<h2>
    <%= form_with model: @post do |f| %>
      <h6>タイトル</h6>
      <%= f.text_field :title %>
      <h6>内容</h6>
      <%= f.text_area :body %>
      <h6>投稿画像</h6>
      <%= f.file_field :post_image, accept: "image/*" %>
      <%= f.submit '投稿' %>
    <% end %>

   
  <h2>投稿一覧<h2>
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <div>
          <p><%= post.title %></p>
          <% if post.post_image.attached? %>
            <%= image_tag post.post_image, size: "50x50" %>
          <% end %>
        </div>
        <%= link_to "投稿詳細", post_path(post.id)%>
      <% end %>
    <% else %>
      <p>投稿はまだありません。</p>
    <% end %>
</main>

