<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-4">
      <h2>店舗詳細</h2>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-10 col-sm-8 mx-auto my-4 shadow-lg">
      <div class="card-body">
        <div class="row">
          <div class="col-12 d-flex justify-content-center mb-2 col-sm-4">
            <% if @store.store_image.attached? %>
              <%= image_tag @store.store_image, size: "200x200" %>
            <% else %>
              <%= image_tag 'no_image', size: "200x200" %>
            <% end %>
          </div>    
          <div class="col-12 col-sm-8">
            <p class="card-text"><i class="fa-solid fa-flag mr-2"></i><%= @store.store_name %></p>
            <p class="card-text"><i class="fa-solid fa-envelope mr-2"></i><%= @store.email %></p>
            <p class="card-text"><i class="fa-solid fa-phone mr-2"></i><%= @store.phone_number %></p>
            <p class="card-text"><i class="fa-solid fa-location-dot mr-2"></i><%= @store.address %></p>
            <p class="card-text"><i class="fa-solid fa-at mr-2"></i><%= @store.store_url %></p>
          </div>
        </div>
        <div class="row mt-sm-4">
          <p class="card-text"><%= simple_format(@store.store_info, sanitize: true) %></p>
        </div>
          <div class="row justify-content-end mt-2 mr-2">
            <%= render "favorites/btn", store: @store %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-4">
      <h2>投稿一覧</h2>
    </div>
  </div>
  <% if @posts.present? %>
    <% @posts.each do |post| %>  
      <div class="row py-1">
        <div class="col-10 col-sm-6 mx-auto mt-4 shadow-lg">
          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <%= link_to post_path(post.id), class: "text-dark" do %>
                  <strong><span><%= post.title %></span></strong>
                <% end %>
                <p class="card-text mt-3"><%= post.body %></p>
              </div>
              <div class="col-2">
                <% if post.post_image.attached? %>
                  <%= image_tag post.post_image, class: "card-img-top" %>
                <% end %>
              </div>
            </div>
            <div class="row d-flex justify-content-end align-items-end mr-3 mt-3">
            <div class="created mr-4">
              <%= post.created_at.strftime("%Y-%m-%d") %>
            </div>
            <div class="category mr-4">
              <span><i class="fa-solid fa-tag"></i>カテゴリー：</span><%= post.category %> 
            </div>
            <div class="comment mr-4">
              <%= link_to "#{post.post_comments.count} コメント", post_path(post.id)%>
            </div>
            <div class="like">
              <%= render "likes/btn", post: post %>
            </div>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row d-flex justify-content-center">
      <p>投稿はまだありません</p>
    </div>
  <% end %>

</div>