<div class="container">
  <div class="row d-flex justify-content-center my-4">
    <h2>ユーザーマイページ</h2>
  </div>

  <% if user_signed_in? %>
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8">
        <div class="card mt-4 mb-4 shadow-lg">
          <div class="card-body">
            <div class="row row align-items-center">
              <div class="col-12 col-sm-4 mb-2 text-center">
                <% if @user.user_image.attached? %>
                  <%= image_tag @user.user_image, size: "150x150" %>
                <% else %>
                  <%= image_tag 'no_image.jpg', size: "150x150" %>
                <% end %>
              </div>    
              <div class="col-12 col-sm-8">
                <p class="card-text"><i class="fa-solid fa-user mr-2"></i><%= @user.name %></p>
                <p class="card-text"><i class="fa-solid fa-envelope mr-2"></i><%= @user.email %></p>
                <p class="card-text"><i class="fa-solid fa-thumbs-up mr-2"></i><%= link_to "いいね投稿一覧", likes_user_path(@user.id) %></p>
                <p class="card-text"><i class="fa-solid fa-heart mr-2"></i><%= link_to "お気に入り店舗一覧", favorites_user_path(@user.id) %></p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col text-right">
                <%= link_to "編集", edit_user_path(@user.id), class: "btn btn-primary mr-2" %>
                <%= link_to "退会", user_path(@user.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>