<div class="d-flex justify-content-end mt-4 mb-2 mr-4">
  <%= render 'admin/tagsearches/tagsearch'%>
</div>

<div class="container d-flex justify-content-center my-4">
  <h2>店舗投稿一覧</h2>
</div>  

<div class="d-flex justify-content-center mt-4 mb-2">
   <%= link_to '新しい順', admin_posts_path(latest: "true"), class: "mr-1" %>
  |<%= link_to '古い順', admin_posts_path(old: "true"), class: "mx-1" %>
  |<%= link_to 'いいねの多い順', admin_posts_path(like_count: "true"), class: "ml-1"  %>
</div>

<div class="col-md-10 offset-md-1">
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>店舗名</th>
        <th>投稿日</th>
        <th>タイトル</th>
        <th>カテゴリー</th>
        <th>コメント数</th>
        <th>いいね数</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <th>
            <%= image_tag post.store.get_store_image(80,80) %>
          </th>
          <th class="align-middle">
            <%= link_to admin_store_path(post.store.id), class: "text-dark" do %>
              <strong><span><%= post.store.store_name %></span></strong>
            <% end %>
          </th>
          <th class="align-middle">
            <%= post.created_at.strftime("%Y-%m-%d") %>
          </th>
          <th class="align-middle">
            <%= link_to(admin_post_path(post.id), class: "text-dark") do %>
              <strong>
                <span style="display: inline-block; max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                  <%= post.title %>
                </span>
              </strong>
            <% end %>
          </th>
          <th class="align-middle">
            <span><%= post.category %></span>
          </th>
          <th class="align-middle">
            <%= link_to "#{post.post_comments.count} コメント", admin_post_path(post.id), class: "text-dark"%>
          </th>
          <th class="align-middle">
            <i class="fa-solid fa-thumbs-up" aria-hidden="true"></i>
            <%= post.likes.count %> いいね
          </th>
          <th class="align-middle">
            <%= link_to '削除', admin_post_path(post), method: :delete, data: { confirm: '本当にこの投稿を削除しますか？' } %> 
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>