<div class="container d-flex justify-content-center my-4">
  <h2>この投稿をいいねしているユーザー</h2>
</div>

<% if @users.present? %>
  <div class="col-md-6 offset-md-3">
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th>
              <% if user.user_image.attached? %>
                <%= image_tag user.user_image, size: "80x80" %>
              <% else %>
                <%= image_tag 'no_image.jpg', size: "80x80" %>
              <% end %>
            </th>
            <th class="align-middle">
              <%= link_to admin_user_path(user.id), class: "text-dark" do %>
                <strong><span><%= user.name %></span>
              <% end %>
            </th>
            <th class="align-middle">
              <%= user.email%>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="container d-flex justify-content-center mt-4">
    <p>この投稿をいいねしているユーザーはいません</p>
  </div>
<% end %>