<div class="container d-flex justify-content-center mt-4">
  <h2>投稿詳細</h2>
</div>

<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 mb-4 shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col-9">
          <p class="card-text"><strong><%= @post.title %></p></strong>
          <p class="card-text"><%= @post.body %></p>
        </div>    
        <div class="col-3">
          <% if @post.post_image.attached? %>
            <%= image_tag @post.post_image, size: "170x170" %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: "170x170" %>
          <% end %>
        </div>
      </div>

      <div class= "row align-items-end mt-4">
        <%= image_tag @post.store.get_store_image(80,80), class: "rounded-circle mr-4"; %>
        <%= link_to(store_path(@post.store.id), class: "text-dark mb-3 mr-4") do %>
          <strong><i class="fa-solid fa-flag mr-1"></i><span><%= @post.store.store_name %></span></strong>
        <% end %>
        <p class="created mr-4"><%= @post.created_at.strftime("%Y-%m-%d")%></p>
        <p class="category mr-4"><i class="fa-solid fa-tag mr-1"></i>カテゴリー：<%= @post.category%></p>
        <p class="likes text-dark mb-3 mr-4"><i class="fa-solid fa-thumbs-up mr-1" aria-hidden="true"></i><%= @post.likes.count %> いいね</p>
      </div>

      <div class="row mt-4">
        <p>コメント件数：<%= @post.post_comments.count %></p>
      </div>
      <div class="row mt-4">
        <% @post.post_comments.each do |post_comment| %>
          <div class="col-2 mb-4">
            <% if post_comment.user %>
              <%= image_tag post_comment.user.get_user_image(70,70) %>
            <% elsif post_comment.store %>
              <%= image_tag post_comment.store.get_store_image(70,70) %>
            <% end %>
          </div>
          <div class="col-10">
            <div class="row ml-2">
              <% if post_comment.user %>
                <%= link_to admin_user_path(post_comment.user.id) do %>
                  <span class="name mr-4"><%= post_comment.user.name %></span>
                <% end %>
              <% elsif post_comment.store %>
                <%#= link_to admin_store_path(post_comment.store.id) do %>
                  <span class="name mr-4"><%= post_comment.store.store_name %></span>
                <%# end %>
              <% end %>
              <%= post_comment.created_at.strftime('%Y/%m/%d')%>
            </div>
            <div class="row ml-2">
              <%= post_comment.comment %>
            </div>
            <div class="row d-flex justify-content-end align-items-end mt-4 mr-3">
              <div class="delete">
                <%= link_to "削除", admin_post_comment_path(post_comment.id), method: :delete, "data-confirm" => "本当にこのコメントを削除しますか？" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>