
<div class="container d-flex justify-content-center mt-4">
  <h2>店舗検索結果</h2>
</div>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
    <tbody>
      <% if @records.present? %>
        <% @records.each do |user| %>
          <div class="container d-flex justify-content-center mt-4">
            <h2>店舗検索結果</h2>
          </div>
          <div class="card-list-container py-5">
            <div class="card w-50 mx-auto mt-4 shadow-lg">
              <div class="card-body">
                <div class="row">
                  <%= user.name %></td>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがStoreの時 -->
    <tbody>
      <% if @records.present? %>
        <% @records.each do |store| %>
          <div class="card-list-container py-5">
            <div class="card w-50 mx-auto mt-4 shadow-lg">
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <% if store.store_image.attached? %>
                      <%= image_tag store.store_image, size: "150x150" %>
                    <% end %>
                  </div>
                  <div class="col-8">
                    <%= link_to(store_path(store.id), class: "text-dark") do %>
                      <strong><span><%= store.store_name %></span></strong>
                    <% end %>
                    <p class="card-text"><%= store.phone_number %></p>
                    <p class="card-text"><%= store.address %></p>
                    <p class="card-text"><%= store.store_url %></p>
                    <p class="card-text"><%= store.store_info %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="container d-flex justify-content-center mt-4">
          <p>検索結果がありません</p>
        </div>
      <% end %>
    </tbody>
  <% end %>
</table>