<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">投稿編集フォーム</h5>
      <div class="form-body p-4">
        <% if @post.errors.any? %>
          <ul class="alert alert-danger" role="alert">
            <h6 class="alert-heading">
              <%= @post.errors.count %>件のエラーが発生しました
            </h6>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>

          <h4>タイトル</h4>
          <%= f.text_field :title %>
          
          <h4>本文</h4>
          <%= f.text_area :body %>

          <h4>投稿画像</h4>
          <% if @post.post_image.attached? %>
            <%= image_tag @post.post_image, size: "50x50" %>
          <% end %>
          
          <%= f.file_field :post_image, accept: "image/*" %>
          
          <%= f.submit '更新' %>
          
        <% end %>

        <%# 公開／非公開ボタン #%>

        <div>
          <p>コメント件数：<%= @post.post_comments.count %></p>
          <% @post.post_comments.each do |post_comment| %>
            <p><%= image_tag post_comment.user.get_user_image(50,50) %></p>
            <%= post_comment.user.name %>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>