<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- CSSファイルの読み込み -->
    <link rel="stylesheet" href="style.css" />
    <title>CafeConnect</title>
  </head>
  
  <body>
    <div class="d-flex justify-content-end mt-4 mb-2 mr-4">
      <%= render 'tagsearches/tagsearch'%>
    </div>

    <div class="container" style="background-image: url('<%= asset_path('mainvisual-6da22856056cdd428c947d86be34c5d1fb33b74b80ac5ea107a228c87a633ce7.jpg') %>'); background-size: cover; height: 300px; background-position: center; background-repeat: no-repeat; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; text-align: center;">
      <div class="row d-flex justify-content-center">
        <h1>CafeConnect</h1>
      </div>
      <div class="row d-flex justify-content-center">
        <h5>〜カフェとの出会いをもっと楽しく、もっと便利に〜</h5>
      </div>
      <div class="row d-flex justify-content-center">
        <p>気になるカフェの情報や投稿を調べたり、いいねやコメントができるレビューサイト</p>
      </div>
    </div>

    <div class="container d-flex justify-content-center my-4">
      <h2>店舗投稿一覧</h2>
    </div>

    <div class="d-flex justify-content-center mt-4 mb-2">
      <%= link_to '新しい順', posts_path(latest: "true"), class: "mr-1" %>
      |<%= link_to '古い順', posts_path(old: "true"), class: "mx-1" %>
      |<%= link_to 'いいねの多い順', posts_path(like_count: "true"), class: "mx-1"  %>
    </div>

    <% @posts.each do |post| %>  
      <div class="card-list-container">
        <div class="card w-50 mx-auto mt-4 shadow-lg">
          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <%= link_to post_path(post.id), class: "text-dark" do %>
                  <strong><span><%= post.title %></span></strong>
                <% end %>
                <p class="card-text mt-3"><%= post.body %></p>
              </div>
              <div class="col-2">
                <% if post.post_image.attached? %>
                  <%= image_tag post.post_image, class: "card-img-top"; %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <%= image_tag post.store.get_store_image(80,80), class: "mt-3 rounded-circle"; %>
              </div>
              <div class="col-10">
                <p class="card-title mt-4">
                <%= link_to(store_path(post.store.id), class: "text-dark") do %>
                  <strong><i class="fa-solid fa-flag mr-1"></i><span><%= post.store.store_name %></span></strong>
                <% end %>
              </div>
            </div>
            <div class="row d-flex justify-content-end align-items-end mr-3 mb-3">
              <div class="created mr-4">
                <%= post.created_at.strftime("%Y-%m-%d") %>
              </div>
              <div class="category mr-4">
                <span><i class="fa-solid fa-tag mr-1"></i>カテゴリー：</span><%= post.category %>
                <%#=link_to post.category, tagsearches_search_path(content:@post.category) content?→body? controllerの記述も #%>  
              </div>
              <div class="comment mr-4">
                <%= link_to "#{post.post_comments.count} コメント", post_path(post.id)%>
              </div>
              <div class="like">
                <%= render "likes/btn", post: post %>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </body>
