<h2>CafeConnect</h2> <h3>〜カフェとの出会いをもっと楽しく、もっと便利に〜</h3>
<p>気になるカフェの情報や投稿を調べたり、いいねやコメントができるレビューサイト。</p>

<h2>店舗投稿一覧</h2>

  <% @posts.each do |post| %>  
    <div class="card-list-container py-5">
      <div class="card w-50 mx-auto mt-4 shadow-lg">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <p class="card-text">タイトル：<%= post.title %></p>
              <p class="card-text">本文：<%= post.body %></p>
            </div>
            <div class="col-2">
              <% if post.post_image.attached? %>
                <%#= image_tag post.post_image, size: "20x20" #%>
                <%= image_tag post.post_image, class: "card-img-top"; %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <%= image_tag post.store.get_store_image(80,80), class: "mt-3 rounded-circle"; %>
            </div>
            <div class="col-10">
              <p class="card-title">
              <%= link_to(store_path(post.store.id), class: "text-dark") do %>
                <strong><i class="far fa-flag"></i><span><%= post.store.store_name %></span></strong>
              <% end %>
              <span>  |  <%= link_to "#{post.post_comments.count} コメント", post_path(post.id), class: "text-dark" %></span>
            </div>
          </div>
        </div>
    </div>
  <% end %>
