<div class="d-flex justify-content-end mt-4 mb-2 mr-4">
  <%= render "searches/search", category_name: "店舗名", search_method: "store" %>
</div>

<div class="container d-flex justify-content-center my-4">
  <h2>店舗一覧</h2>
</div>

<div class="col-md-10 offset-md-1">
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>店舗名</th>
        <th>住所</th>
        <th>URL</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <th>
            <% if store.store_image.attached? %>
              <%= image_tag store.store_image, size: "80x80" %>
            <% end %>
          </th>
          <th class="align-middle">
            <%= link_to admin_stores_show_dashboards_path(store.id), class: "text-dark" do %>
              <strong><span><%= store.store_name %></span></strong>
            <% end %>
          </th>
          <th class="align-middle">
            <span style="display: inline-block; max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
              <%= store.address %>
            </span>
          </th>
          <th class="align-middle">
            <span style="display: inline-block; max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
              <%= store.store_url %>
            </span>
          </th>
          <th class="align-middle">
            <%= render "favorites/btn", store: store %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

