<div class="d-flex justify-content-end mt-4 mb-2 mr-4">
  <%= render "searches/search", category_name: "ユーザー名", search_method: "user"%>
</div>

<div class="container d-flex justify-content-center my-4">
  <h2>ユーザー一覧</h2>
</div>

<div class="col-md-8 offset-md-2">
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th>コメント回数</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th>
            <% if user.user_image.attached? %>
              <%= image_tag user.user_image, size: "50x50" %>
            <% else %>
              <%= image_tag 'no_image', size: "50x50" %>
            <% end %>
          </th>
          <th class="align-middle">
            <%= link_to(user_path(user.id), class: "text-dark") do %>
              <strong><span><%= user.name %></span>
            <% end %>
          </th>
          <th class="align-middle">
            <%= user.email%>
          </th>
          <th class="align-middle">
            〇
          </th>
          <th class="align-middle">
            <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %> 
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>