<!DOCTYPE html>
<html>
  <head>
    <title>CafeConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if store_signed_in? %>
        <h3>CafeConnect</h3>
        <li>
          <%= link_to '店舗投稿一覧', posts_path %>
        </li>
        <li>
          <%= link_to '店舗一覧', stores_path %>
        </li>
        <li>
          <%= link_to '店舗マイページ', stores_mypage_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% elsif user_signed_in? %>
        <h3>CafeConnect</h3>
        <li>
          <%= link_to '店舗投稿一覧', posts_path %>
        </li>
        <li>
          <%= link_to '店舗一覧', stores_path %>
        </li>
        <li>
          <%= link_to 'ユーザーマイページ', users_mypage_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <h3>CafeConnect</h3>
        <li>
          <%= link_to '店舗投稿一覧', posts_path %>
        </li>
        <li>
          <%= link_to '店舗一覧', stores_path %>
        </li>
        <li>
          <%= link_to "新規登録", top_path %>
        </li>
        <li>
          <%= link_to "ログイン", about_path %>
        </li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
